<li class="col-3">
    <div class="sombra_fija">
	<a href="http://ilbo18@ilbo18.dothome.co.kr/coffeenamu/index.html" class="a_hover">
        <img src="images/pf1-1.png" alt="작품1" class="background">
        <div class="bg_hover">
            <h4>작품 제목을 작성해주세요.</h4>
            <span><p>Coffeenamu <br> 
            Renual</p></span>
        </div>
    </a>
    </div>
</li>
<li class="col-3">
    <div class="sombra_fija">
	<a href="http://ilbo18@ilbo18.dothome.co.kr/college/index.html">
        <img src="images/pf2-2.png" alt="작품2">
        <div class="bg_hover">
            <h4>작품 제목을 작성해주세요.</h4>
            <span><p>한국기술대학교 <br> 
				        Renual</p></span>
        </div>
    </a>
    </div>
</li>
<li class="col-3" data-type="icon">
    <div class="sombra_fija">
	<a href="images/pf3-1-1.jpg" data-fancybox="gallery" data-caption="홈페이지 디자인 // Photoshop & Illustrator" >
					<img src="images/pf3-1.jpg" alt="작품3">
					<div class="bg_hover">
                        <h4>홈페이지 디자인 시안</h4>
				        <span><p>홈페이지 디자인 시안</p></span>
				    </div>
				</a>
				</div>
</li>				
<li class="col-3">
    <div class="sombra_fija">
	<a href="images/pf4.jpg" data-fancybox="gallery" data-caption="카드 UI // Photoshop & Illustrator">
            <img src="images/pf4.jpg" alt="작품1">
            <div class="bg_hover">
                <h4>작품 제목을 작성해주세요.</h4>
                <span><p>카드 UI</p></span>
            </div>
    </a>
    </div>
</li>
<li class="col-3">
    <div class="sombra_fija">
	<a href="images/pf5.png" data-fancybox="gallery" data-caption="Flat Design // Photoshop & Illustrator">
        <img src="images/pf5.png" alt="작품2">
        <div class="bg_hover">
            <h4>작품 제목을 작성해주세요.</h4>
            <span><p>Flat Design</p></span>
        </div>
    </a>
    </div>
</li>
<li class="col-3">
    <div class="sombra_fija">
    <a href="images/pf6.png" data-fancybox="gallery" data-caption="개인 로고 제작 및 명함 // Photoshop & Illustrator">
        <img src="images/pf6-1.png" alt="작품3">
        <div class="bg_hover">
            <h4>작품 제목을 작성해주세요.</h4>
            <span><p>개인 로고 및 명함 제작</p></span>
        </div>
    </a>
    </div>
</li>	

<li class="col-3">
    <div class="sombra_fija">
	<a href="images/pf6-1.png" data-fancybox="gallery" data-caption="Caption #6">
		<img src="images/work1.png" alt="작품1">
		<div class="bg_hover">
			<h4>작품 제목을 작성해주세요.</h4>
			<span><p>개인 로고 및 명함 제작</p></span>해서 작성해 주세요.
		</div>
	</a>
	</div>
</li>
<li class="col-3" data-type="icon">
    <div class="sombra_fija">
	<a href="#">
		<img src="images/work2.jpg" alt="작품2">
		<div class="bg_hover">
			<h4>작품 제목을 작성해주세요.</h4>
			<span><p>Flat Design</p></span>
		</div>
	</a>
	</div>
</li>
<li class="col-3" data-type="icon">
    <div class="sombra_fija">
	<a href="#">
		<img src="images/work2.jpg" alt="작품3">
		<div class="bg_hover">
			<h4>작품 제목을 작성해주세요.</h4>
			<span><p>Flat Design</p></span>
		</div>
	</a>
    </div>
</li>	

